:root {
  --background: #222;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 100vh;
  padding: 0 1rem;
  background-color: var(--background);
  transition: transform 1s;
}

.navbar {
  transform: translateX(-100%);
}

.nav-btn {
  position: absolute;
  transform: translateX(38px);
  top: 20px;
  right: 0;
  width: 40px;
  height: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
}

.logo {
  margin-top: 2rem;
  display: block;
  width: 100px;
  margin: auto;
  background: transparent;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 1rem;
  border-radius: 5px;
  margin-bottom: 5px;
}

.nav-link:hover {
  background-color: #afb4ff;
  color: #4e4e4e;
}

.nav-link span {
  margin-left: 10px;
}

.nav-top {
  margin-top: 10rem;
}

.mobile-nav {
  width: 100%;
  height: 50px;
  background: var(--background);
  display: none;
}

.mobile-nav-btn {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 40%;
    padding: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .mobile-nav {
    display: flex;
    align-items: center;
  }
  nav {
    width: 70%;
    top: 38px;
    min-height: calc(100vh - 38px);
  }

  .nav-btn {
    display: none;
  }
}

.search-input {
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-input input {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
  padding: 0 6px;
}

.search-button {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  background: white;
  color: #2f3640;
}

#home-page {
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: relative;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 3px;
}

.drop-item {
  font-size: 16px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.drop-item:hover {
  background-color: #ddd;
}

.drop-item .icon {
  width: 32px;
  height: 32px;
  margin: 0.5rem;
}

.image-screen {
  width: 100%;
}